<a href="https://colab.research.google.com/github/PabloJBuiles/Devtober/blob/master/Copia_de_8_Ejercicios_con_Pandas_TestGithub.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicios con Pandas**

**Realizado por John Fernando Vargas**

**Ejercicios con Pandas**

Cargue la base de datos del Titanic desde el paquete seaborn

In [ ]:
import pandas as pd
import seaborn as sns

In [ ]:
df = sns.load_dataset('titanic')

Observe los primeros 5 registros del DataFrame

In [ ]:
df.head()

Observe los últimos 5 registros del DataFrame

Cuántas filas y cuántas columnas tiene el dataframe

Use el metodo .info() para encontrar cuantas Columnas de 
atributos hay y que tipo de datos tiene cada una

Parece que la columna "deck" no tiene mucha información elimínela

Utilice la función .info() para verificar que eliminó la columna

Algunos registros están incompletos.

Borre esa filas usando la función:
df.dropna(axis=0)

Trate de observar los 10 registros que hay desde el índice 100, si ve alguna inconsistencia, no importa, continúe con el desarrollo de la actividad

Parece que los índices estan desfasados por borrar algunos registros

utilice df = df.reset_index() para colocar nuevos indices y elimine la columna index

Ahora sí se pueden ver los registros del 100 al 110

¿Cuántos años tenía la persona de menor edad que iba en el Titanic?

¿Esta persona era hombre o mujer? no presente todo el registro solo el campo "sex"

¿Esta persona sobrevivió?

Responda las 3 úlitmas preguntas para la persona de mayor edad

¿Cuál era la edad de la persona menor que NO sobrevivió?

¿Cuál era la edad de la persona mayor que NO sobrevivió?

Muestre en una tabla los registros de las mujeres que sobrevivieron y eran mayores de 60 años

¿Cuantas personas embarcaron en Queenstown?

En una tabla presenta la edad promedio y el valor promedio del tiquete de las personas que embarcaron en cada puerto (Cherboroug, Queenstown, Southampton) utilice la función groupby

Descargue el archivo supermarkets.csv que enocntrará en el siguiente enlace, guárdelo en su Drive y cárguelo como un dataframe 

https://drive.google.com/file/d/1zkZPcItLyc2LpJYWBPhOdZN3gfvbxBHh/view?usp=sharing

Muestre los primeros 5 registros